body {
    background-color: rgb(16, 132, 53);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    text-align: center;
    margin: auto;
    display: block;
    justify-content: baseline;
    display: grid;
    
}

main {
   color: black;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}


#empty-letter-container {
    height: 300px;
    width: 300px;
    text-align: center;
    border-bottom: 1.5px solid black;
}

#keyboard-container {
    display: flex;
    gap: 24px;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#keyboard-container > .letter {
    cursor: pointer;
    
}
#letter-container {
   height: 200px;
}

.letter {
    
    background-color: white;
    color: black;
    width: 25px;
    padding: 6px;
    display:grid;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;

   
}



