body {
    background-color: rgb(16, 132, 53);
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

p {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}


button {
    
    text-align: center;
    margin: auto;
    display: block;
    justify-content: baseline;
    display: grid;
    
}
button:hover {
    background-color: #a34436;
}


main {
   color: black;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}




#keyboard {
    display: flex;
    gap: 16px;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

#keyboard > .letter {
    cursor: pointer;
   
}



span:hover {
    background-color: #6236a3;
}

span:active {
 background-color: #6236a3;
}

.letter {
    
    background-color: white;
    color: black;
    width: 25px;
    padding: 6px;
    display:grid;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;

   
}

.letter:active {
    background-color: #6236a3;
}



ul {
     display: inline ;
     padding: 5px;
     font-size: 40px;
     align-content: center;
     
    
}
#empty-letters {
    border-bottom: 1.5px solid black;
    display: inline-block;
        
}




